@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #08f;
    --second-color: #24272b;
    --mau-xam-ne: #f7f7f7;
    --third-color: #171a1d;
    --mau-trang-nhat: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

*:before,
*:after {
    font-family: FontAwesome;
}

.display_hidden {
    display: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--second-color);
    text-decoration: none;
}

p {
    margin: 0px !important;
}

.space_top_small {
    margin-top: 15px;
}

.space_top_large {
    margin-top: 25px;
}

.space_left_right {
    padding: 0px;
}

.sh_border_content {
    border: 1px solid #e5e5e5;
}

.mobile_content_main_menu {
    display: none;
}


/*p{*/


/*margin-bottom: auto;*/


/*}*/

.sh_shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sh_title {
    font-size: 40px;
    font-weight: 300;
    margin: 0px 0px 15px 0px;
}

.list_social {
    margin: 15px 0;
}

.list_social ul {
    list-style-type: none;
    display: inline-flex;
}

.list_social ul li {
    padding-right: 15px;
    font-size: 18px;
    color: #444444;
}

button {
    background: #08f;
    padding: 5px 10px;
    color: white;
    border: 0;
    border-radius: 4px;
}

button:hover,
button:focus {
    outline: none;
    background: var(--second-color);
}

button>p {
    margin-bottom: 0px;
}

input:hover,
input:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px !important;
}

#hr-style {
    color: #414c5c;
}

.col-xs-12.hr-content {
    margin-bottom: 0px;
}

.text-bold {
    color: #24272b;
    font-weight: 400;
    font-size: 24px;
}

body {
    color: #24272b;
    background: var(--mau-trang-nhat);
}

.title-product {
    padding: 25px 15px 0px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}


/*menu title*/


/* .menu-title {
	background: #fff;
}

.menu-title ul {
	list-style: none;
	position: relative;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}
.menu-title:hover {
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.10);
}
.menu-title li {
	display: inline-block;
	width: 15%;
}
@media (max-width: 780px) {
	.menu-title li {
		display: inline-block;
		width: 24%;
	}
}
.menu-title a {
	color: #5c5c5c;
	text-decoration: none;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

.menu-title li:hover a {
	color: #24272b;
}

.menu-sub {
	background: #ffffff;
	position: absolute;
	left: 0;
	width: 100%;
	display: none;
	color: #24272b;
	z-index: 9999;
	box-shadow: 0 2px 4px 0px rgba(0,0,0,.10);
}

.menu-title li:hover .menu-sub {
	display: block;
}

.menu-sub li {
	display: block;
}

.menu-sub a {
	margin-bottom: .35em;
	font-weight: 400;
}

.menu-sub a:hover {
	text-decoration: underline;
}
.menu-sale-now {
	text-align: left;
	color: red;
	padding-top: 12px;
}
.menu-list-item {
	text-align: left;
}
.col-sm-3.sale-image {
	padding-top: 15px;
	text-align: left;
}
.title-sale-menu{
	padding-top: 10px;
}
.menu-category {
	margin: 2.5em 0 .5em;
	text-align: left;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 5px;
}
.list-watches {
	margin-top: 20px;
}
.list-watches-brand > li {
	text-align: left;
	width: 100%;
}
.menu-category:first-of-type {
	margin-top: 0;
} */

.content_main_menu {
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    height: auto;
}

.content_top_main_menu {
    height: 80px;
    position: static;
    z-index: 9;
    background: var(--mau-trang-nhat);
    box-shadow: 0px 2.5px 3px 0px rgba(0, 0, 0, 0.12), 0px 2.5px 3px 0px rgba(0, 0, 0, 0.1);
}

.top_main_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--mau-trang-nhat);
}

.top_main_menu ul {
    list-style: none;
    margin-bottom: 0px;
}

.top_main_menu li {
    display: inline-table;
    position: relative;
}

.top_main_menu li a {
    color: #fff;
}

.top_main_menu li p {
    font-size: 16px;
    padding: 10px 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--primary-color);
}

.top_main_menu li p:hover {
    background: var(--mau-xam-ne);
    color: var(--primary-color);
    border-radius: 4px 4px 0px 0px;
}

.top_main_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    z-index: 99999;
    padding: 15px 10px;
    width: 160%;
    border-radius: 0px 4px 4px 4px;
}

.top_main_menu ul ul li {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    text-align: left;
}

.top_main_menu ul ul li a {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    padding-left: 10px;
    color: var(--primary-color);
    display: block;
}

.top_main_menu ul li:hover>ul {
    display: block
}

.menu_collapse {
    display: none;
}

.menu_collapse span:before {
    content: "\f0c9";
    color: var(--second-color);
    z-index: 9999;
    font-size: 27px;
    top: 0;
    margin-top: 11px;
    position: fixed;
}

.menu_collapse span:hover:before {
    content: "\f00d";
    color: var(--second-color);
    cursor: pointer;
}

.content_contact_us {
    margin-top: 30px;
    text-align: center;
}

.live-chat-icon span {
    margin-right: 15px;
    letter-spacing: 1px;
    font-size: 12px;
    color: #868686;
    font-weight: 300;
}

.live-chat-icon span:nth-child(3) {
    margin-right: 0px;
}

.live-chat-icon span:before {
    margin-right: 5px;
    color: #868686;
}

.live-chat-icon span:nth-child(2):before {
    content: "\f082";
}

.live-chat-icon span:nth-child(1):before {
    content: "\f098";
}

.live-chat-icon span:nth-child(3):before {
    content: "\f0e0";
}


/****title men****/

.title_mens {
    background-color: var(--second-color);
    color: #fff;
    padding: 25px !important;
}

.title_mens h1 {
    font-weight: 400;
}


/*search*/

.content_top_search {
    margin: 20px auto 0px auto !important;
    height: 50px;
    align-items: center;
    display: flex;
}

.search-form {
    padding: 0px!important;
}

.menu-top {
    margin-top: 20px;
    display: block;
}

.logo {
    font-size: 40px;
}

.name-shop {
    line-height: 1;
    font-size: 30px;
    margin: 0px 0px 0px 0;
    color: #414c5c;
    text-transform: capitalize;
}

.search-form input::placeholder {
    text-align: left;
    text-transform: none;
}

#box_filter_search_prd {
    width: 25%;
    float: left;
    height: 80%;
    border-radius: 8px 0px 0px 8px;
    border-right: 0px;
    background: #fff;
    border: none;
    padding-left: 5px;
    color: #868686;
    border: 1px solid #eee;
}

#box_filter_search_prd:hover,
#box_filter_search_prd:focus {
    outline: none;
    box-shadow: none;
}

#search_bar {
    width: 75%;
    float: left;
}

input.search-model {
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 0px 8px 8px 0px;
    border-left: 0px;
    border: 1px solid #eee;
}

.search-model {
    padding: 5px 5px 5px 15px;
    height: 80%;
    text-transform: capitalize;
}

.search-form #search_bar {
    position: relative;
}

.search-form #search_bar span:after {
    position: absolute;
    top: 0;
    right: 5%;
    content: "\f002";
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #868686;
    font-weight: 300;
}

.icon-cart-bag {
    text-align: right;
}

.title-shopping-bag a:before {
    content: "\f290";
    margin-left: 5px;
    font-size: 30px;
    color: var(--second-color);
}

.title-shopping-bag a:hover:before,
.title-shopping-bag a:focus:before {
    color: var(--primary-color);
    transition: all .3s;
    cursor: pointer;
}

.btn_cart_bubbles {
    display: none;
}

.btn_cart_bubbles p:before {
    content: "\f290";
    margin-left: 5px;
}

.title-shopping-bag {
    position: relative;
}

.sum_item_car {
    position: absolute;
    top: 4px;
    right: -6px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 100%;
    padding: 1px 5px;
    font-size: 11px;
}

.menu_fixed_top {
    top: 0;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    height: 40px;
    position: fixed;
    width: 100%!important;
}

.menu_static_top {
    top: 0;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    height: 80px;
    position: static;
    width: auto!important;
}

.menu_normal_mobile_top {
    display: none;
    width: 0;
}


/*notify*/

.notify_content {
    margin-bottom: 80px;
}

.notify_content ul {
    list-style: none;
    width: 100%;
}

.notify_content ul li {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    width: 30%;
    padding: 20px;
    text-align: left;
    background-color: var(--second-color);
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 12px;
}

.notify_content ul li:nth-child(2) {
    margin: 0px 4%;
}

.notify_content li:after {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 25px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    padding: 0 25px;
}

.notify_content li:hover:after {
    transform-origin: top center;
    animation-name: animate-shake;
    animation-duration: 1s;
    animation-fill-mode: both;
    color: var(--primary-color);
}

.notify_content:hover li:after {
    cursor: pointer;
}

.notify_content li:nth-child(1):after {
    content: "\f290";
}

.notify_content li:nth-child(2):after {
    content: "\f06b";
}

.notify_content li:nth-child(3):after {
    content: "\f0ac";
}


/*notify*/


/*slide image info*/

.slide-products {
    display: block;
    margin-bottom: 80px;
}

.slider_banner_ads {
    background-color: #e3e3e3;
    background-image: url("../../images/banner/watches_banner.png");
    background-repeat: no-repeat;
    height: 534px;
    background-position: right center;
    background-size: 40%;
    position: relative;
}

.slider_banner_ads:before {
    position: absolute;
    content: "";
    width: 60%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--third-color);
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}

.slider_banner_title {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    float: left;
    color: #fff
}

.slider_banner_title p {
    line-height: 1.5;
}

.slider_banner_title p:nth-child(1) {
    font-size: 25px;
}

.slider_banner_title p:nth-child(2) {
    font-size: 45px;
}

.slider_banner_ads .slider_btn_shop button {
    background: #444;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 4px;
    margin-top: 30px;
    text-transform: uppercase;
}


/** trending**/

.title_trendding_now {
    display: block;
    margin: 0px 0px 40px 0;
}

.title_trendding_now:after {
    content: "";
    width: 5%;
    height: 1.5px;
    background-color: var(--primary-color);
    display: block;
    margin-top: 15px;
}

.title_trendding_now p,
.title_trendding_now p b {
    text-transform: uppercase;
    color: var(--second-color);
    font-family: 'Lemonada', cursive!important;
}

.title_trendding_now p:first-child {
    font-size: 25px;
    display: block;
    margin-bottom: 10px!important;
}

.title_trendding_now p:last-child {
    font-size: 15px;
    text-transform: initial;
}

.content_trendding_now .owl-theme .owl-nav [class*='owl-'] {
    background-color: rgba(68, 68, 68, 0.64) !important;
    width: 35px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.content_trendding_now .owl-stage-outer {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content_trendding_now .item {
    background-color: rgb(255, 251, 251);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid 0 0 29px rgba(0, 0, 0, 0.08);
}

.content_trendding_now .sale_home:before {
    position: absolute;
    color: var(--primary-color);
    content: url(../../images/icon/sale.png);
    z-index: 1;
    top: 1%;
    right: 5%;
}

.content_trendding_now .sale_home:hover:before {
    transform-origin: top center;
    animation-name: animate-swing;
    animation-duration: 1.4s;
    animation-fill-mode: both;
}

.content_trendding_now .item:hover {
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.08);
    transition: all .3s;
    cursor: pointer;
}

.content_trendding_now .title-product,
.content_trendding_now .product-price {
    padding-left: 10px!important;
}

.content_trendding_now .owl-nav {
    -webkit-tap-highlight-color: transparent !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 0px;
    margin: auto !important;
}

.content_trendding_now .owl-nav .owl-prev:nth-child(1):before {
    content: "\f104";
    font-size: 30px;
}

.content_trendding_now .owl-nav .owl-next:nth-child(2):before {
    content: "\f105";
    font-size: 30px;
}

.content_trendding_now .owl-nav p {
    display: none;
}

@media (max-width: 768px) {
    .content_trendding_now .owl-item {
        background-color: #eee;
        /*width: 100% !important;*/
    }
}


/**sex watch**/

.content_sex_watch,
.content_list_prd_random {
    margin-top: 80px;
    margin-bottom: 80px;
}

.sex-watches {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    margin: auto;
    position: relative;
}

.sex-watches .title_item_sex_watch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.sex-watches img {
    opacity: 0.7;
    width: 100%;
    margin: auto;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform: scale(1.0) rotate(0deg);
}

.sex-watches:hover img {
    opacity: .8 width: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform: scale(1.2) rotate(1deg);
}

.sex-watches:hover p {
    color: var(--primary-color);
}

.col-xs-12.content_item_watch {
    background-color: #ccc;
    padding: 0px;
    border-radius: 4px;
    overflow: hidden;
}

.content_item_watch p {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.78);
    color: var(--second-color);
}


/*updating now*/

.title-updating-now {
    border-bottom: 1px solid #414c5c;
    margin-bottom: 25px;
}

.title-updating-now h1 {
    text-transform: uppercase;
    text-align: center;
}


/***list ranndom product***/

.prds_random {
    margin-bottom: 30px;
    border: 1px solid #EEE;
    padding: 25px 30px;
    font-weight: 300;
}

.title_list_prd_random {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.title_list_prd_random:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eee;
    display: block;
    margin: 15px 0;
}

.list_prds_random {
    overflow: hidden;
}

.list_prds_random .item_prd {
    padding: 5px 0;
    display: inline-block;
    margin-bottom: 15px;
}

.list_prds_random .prd_img {
    width: 22%;
    float: left;
    margin-right: 15px;
    border-radius: 4px;
}

.list_prds_random .title_product {
    font-size: 12px;
    font-weight: 400;
}

.list_prds_random .title_product p:first-child {
    margin-bottom: 10px !important;
    font-size: 14px;
}

.list_prds_random .title_product p:last-child {
    color: red;
}


/*info dev footer*/

.info-dev {
    color: white;
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
}

.footer-content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #24272b;
}

.footer-content p,
.footer-content h4 {
    color: white;
}

.footer-content p,
.footer-content a {
    color: #959595;
    margin-bottom: 10px !important;
}

.footer-content a:hover {
    color: #aeaeae;
    text-decoration: underline;
}

.footer-content h4 {
    margin-bottom: 15px !important;
    text-transform: uppercase;
}

.footer-content .item_footer p:before,
.footer-content .footer_address p:before {
    color: #959595;
    margin-right: 10px;
}

.footer-content .item_footer p:nth-child(1):before {
    content: "\f082";
}

.footer-content .item_footer p:nth-child(2):before {
    content: "\f16d";
}

.footer-content .item_footer p:nth-child(3):before {
    content: "\f023";
}

.footer-content .footer_address p:nth-child(1):before {
    content: "\f095";
}

.footer-content .footer_address p:nth-child(2):before {
    content: "\f0e0";
}

.footer-content .footer_address p:nth-child(3):before {
    content: "\f041";
}

.footer-page {
    display: inline-block;
    width: 100%;
}


/*sale page*/


/*sale page*/

.sale_page {
    margin-bottom: 50px;
}

.item_sale {
    position: relative;
}


/***transport****/

.header_transport {
    min-height: 26.875em;
    background: url('../../images/cdn/bg_clouds.png') repeat-x top center;
    -webkit-background-size: cover;
    background-size: cover;
}

.header_transport {
    text-align: left;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 26.875em;
}

.header_transport:before {
    position: absolute;
    content: url('../../images/cdn/vs_plane_active.png');
    z-index: 1;
    top: 30%;
    left: 15%;
    transform: rotate(-90deg);
}

.header_transport:after {
    position: absolute;
    content: url('../../images/cdn/vs_plane_active.png');
    z-index: 1;
    top: 45%;
    right: 28%;
    transform: rotate(-90deg);
}

.header_transport p {
    font-size: 18px;
}

.header_transport h1 {
    font-size: 55px;
    text-transform: uppercase;
}

.header_transport span {
    margin-top: 20px;
    display: block;
}

.content_how_it_work {
    margin-bottom: 80px;
    display: inline-block;
}

.content_how_it_work .item {
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.08);
    transition: all .3s;
}

.content_how_it_work .item:hover {
    transition: all .3s;
    cursor: pointer;
    background: #fff;
}

.content_how_it_work .item img {
    display: block;
    margin: auto;
    height: 80px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.content_how_it_work .item span {
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: var(--second-color);
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.content_how_it_work .item p {
    color: #444;
    font-size: 14px;
    letter-spacing: 1.09;
    font-weight: 300;
    text-align: justify;
}

.trans-title {
    position: relative;
    display: block;
    margin: 80px 0 60px 0;
    text-align: center;
    font-size: 35px;
}

.trans-title:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 10%;
    height: 1.5px;
    background: var(--primary-color);
    margin-top: 15px;
}

.why_need_you_choose_us {
    background: url('https://www.shopusa.com/youshopweship/images/Coverimage.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.why_need_you_choose_us .trans-title {
    position: relative;
    display: block;
    margin: 0px 0 60px 0;
    text-align: center;
    font-size: 35px;
    color: var(--mau-trang-nhat);
}

.content_why_choose_us .item {
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
}

.content_why_choose_us .item span {
    display: block;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: var(--mau-trang-nhat);
    margin-top: 20px;
    margin-bottom: 10px;
}

.content_why_choose_us .item p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.09;
    font-weight: 300;
    text-align: justify;
}

.content_why_choose_us .item span:before {
    display: block;
    content: "";
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 15px;
}

.content_why_choose_us .item:nth-child(1) span:before {
    background: url('../../images/icon/shield.png');
    content: "";
    background-size: 80px 80px;
}

.content_why_choose_us .item:nth-child(2) span:before {
    background: url('../../images/icon/recommended.png');
    content: "";
    background-size: 80px 80px;
}

.content_why_choose_us .item:nth-child(3) span:before {
    background: url('../../images/icon/vehicle-speedometer.png');
    content: "";
    background-size: 80px 80px;
}

.content_why_choose_us .item:nth-child(4) span:before {
    background: url('../../images/icon/price-tag.png');
    content: "";
    background-size: 80px 80px;
}

.content_list_brand {
    background: #fff;
    padding-bottom: 80px;
}

.content_order_usa {
    padding-bottom: 80px;
    background: url(../../cdn/bg_trans.jpg);
    background-attachment: initial;
    background-size: cover;
    background-position: 100% 80px;
}

.form_order_prd_usa input {
    padding: 15px;
    margin-bottom: 25px;
}

.form_order_prd_usa input:nth-child(1) {
    width: 100%!important;
}

.form_order_prd_usa input:nth-child(even) {
    width: 48%;
    float: left;
}

.form_order_prd_usa input:nth-child(odd) {
    width: 48%;
    float: right;
}

.form_order_prd_usa button {
    display: block;
    width: 100%;
    padding: 10px!important;
}

.btn_add_other_link {
    display: inline-block;
    padding: 5px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 2px;
    margin-bottom: 25px!important;
    float: right;
}

.btn_add_other_link:hover {
    background: var(--second-color);
    cursor: pointer;
}

.content_order_usa .trans-title {
    color: #fff;
}


/*watches page*/

.filter-product {
    margin-top: 25px;
}


/*watches page*/


/*watches*/

.btn-load-more {
    margin: 25px 0;
    text-align: center;
}

.select-view-product {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(144, 170, 187, 0.6);
    color: #8c8c8c;
}

.select-view-product:focus {
    outline-width: 0;
}

.sub-menu li {
    font-size: 12px;
    width: 100%;
    display: block;
    margin-left: 0 !important;
    background-color: #eeeeee;
    text-align: left;
    padding-left: 15px;
}


/*content product page*/

.content-product-detail {
    margin-top: 60px;
}

.content-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.content-img img {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0;
    overflow: hidden;
    right: 0;
    height: 100%;
    width: auto;
}

.zoomed {
    opacity: 0;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.content-img .img_prd_hover:hover {
    cursor: pointer;
}

.content-list-img {
    margin-top: 15px;
    display: block;
    width: 100%;
}

.content-list-img img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 15px;
}

.content-list-img img:hover {
    cursor: pointer;
}

.content-main-info p {
    margin-bottom: 0px;
}

.product-main-brand p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500!important;
}

.product-info-name {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: .011em;
    color: #444444;
}

.num-id-product {
    font-size: 12px;
    color: #90aabb;
    margin: 5px 0px 5px 0;
}

.product-main-retail-price {
    margin: 15px 0px 2px 0px;
    text-decoration: line-through;
    font-weight: 500;
    letter-spacing: .011em;
    font-size: 14px;
}

.product-detail-price {
    color: #414c5c;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.product-detail-sale {
    color: red;
    font-size: 20px;
    margin-left: 20px;
}

.prd_content_desc {
    margin: 10px 0;
}

.btn-buy-product {
    margin-top: 15px;
}

.btn-buy-product .btn {
    background-color: #08f;
    border-radius: 0px;
    padding: 8px 20px 8px 20px;
    color: #fff;
    border-radius: 2px;
}

.btn-buy-product .btn:first-child p:before {
    content: "\f290";
    margin-right: 10px;
}

.btn-buy-product .btn p {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0px;
}

.btn-buy-product .btn:focus {
    outline: none;
}

.btn-buy-product .btn:hover,
.btn-buy-product .btn:focus,
.btn-buy-product .btn:active {
    animation-duration: 1s;
    animation-delay: 0.5s;
    background-color: #55b0ff;
    color: white;
    transition: all .5s;
}

.product-main-desc {
    margin-top: 80px;
}

.product-main-desc .main_info_prd ul {
    list-style: none;
    margin-top: 15px;
}

.product-main-desc .main_info_prd li span {
    font-weight: 500;
}

.prd_switch_watch {
    color: red;
    margin: 15px 0!important;
    text-transform: uppercase;
}

.form_content_contact_me button {
    margin-top: 20px;
}

.form_content_contact_me input:nth-child(2) {
    margin-left: 4%;
    float: right;
}

.form_content_contact_me input {
    height: 35px;
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 1px;
    float: left;
    margin-top: 20px;
    width: 48%;
}

.form_content_contact_me textarea {
    height: 100px;
    width: 100%;
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 1px;
    float: left;
    margin-top: 20px;
}


/*content product page*/


/*watches*/


/***page watch ****/

.product-item {
    padding-top: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.product-item .product-image-deals {
    margin: auto;
}

.product-item:after {
    content: "";
    background-color: rgba(227, 227, 227, 0.8);
    width: 10%;
    height: 2px;
    display: block;
    margin-top: 5px;
}

.add_to_cart:hover p {
    cursor: pointer;
    display: block;
    color: var(--primary-color);
}

.add_to_cart p {
    color: #222;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
}

.add_to_cart p:before {
    content: "\f290";
    margin-right: 5px;
}


/*.product-price,*/

.title-product {
    padding: 15px 15px 0px 0px!important;
    font-size: 16px;
}

.product-price {
    font-size: 15.5px;
    padding: 20px 15px 15px 0px;
    color: var(--primary-color);
    font-weight: 400;
}

.product-price span:nth-child(2) {
    float: right;
}

.product-price span:nth-child(3) {
    font-size: 13px;
    display: block;
    margin-top: 5px;
    color: var(--second-color);
    text-transform: uppercase;
}

.product_filter {
    margin-top: 50px;
    float: right;
    display: block;
    height: auto;
}

.product_filter ul {
    list-style: none;
}

.product_filter ul li {
    display: inline-block;
    float: left;
    /*margin-left: 20px;*/
}

.product_filter ul li ul li {
    display: block;
    width: 100%;
    margin-left: 0px;
    padding: 10px;
    cursor: pointer;
}

.product_filter ul li ul li a:after {
    display: block;
    content: "";
    height: 1px;
    background-color: #eee;
}

.product_filter .dropdown .dropdown-toggle {
    background-color: #222222;
    padding: 8px 15px;
    color: white;
    font-weight: 400;
    border: 0px solid #222222;
}

.product_filter .dropdown-toggle:hover,
.product_filter .dropdown-toggle:focus {
    background-color: #444 !important;
    transition: all .3s;
}

.tag_filter {
    margin-top: 45px;
}

.tag_filter li {
    padding: 5px 10px 5px 10px;
    background-color: var(--mau-xam-ne);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: 700;
    position: relative;
    margin-right: 4px;
}


/*.btn_close {*/


/*position: absolute;*/


/*font-weight: 700;*/


/*font-size: 14px;*/


/*color: var(--primary-color);*/


/*right: 10px;*/


/*bottom: 0;*/


/*display: flex;*/


/*justify-content: center;*/


/*align-items: center;*/


/*top: 0;*/


/*}*/


/*.btn_close:hover{*/


/*cursor: pointer;*/


/*opacity: 0;*/


/*}*/

@media (max-width: 768px) {
    .product_filter {
        margin-top: 15px;
        display: inline-block;
    }
    .product_filter ul li {
        display: inline-block;
        float: left;
    }
    .product_filter .dropdown-toggle {
        padding: 5px 10px;
    }
    .product_filter .dropdown:nth-child(1) .dropdown-menu {
        top: 120%;
        left: 0;
    }
    .product_filter .dropdown:nth-child(2) .dropdown-menu,
    .product_filter .dropdown:nth-child(3) .dropdown-menu,
    .product_filter .dropdown .dropdown-watch {
        right: 0 !important;
        top: 120%;
        left: inherit;
    }
}


/*****admin******/

#sh_navigation {
    position: fixed;
    background: #fafafa;
    padding: 0;
    margin: 0;
    height: 100%;
    z-index: 2000;
}

.sh_hidden {
    display: none;
}

.sh_navi {
    font-size: 20px;
    height: 100%;
}

.sh_navi ul {
    list-style-type: none;
}

.sh_navi li {
    padding: 25px;
    border-bottom: 1px solid #F5F5F5;
    border-top: 1px solid #F5F5F5;
}

.sh_navi li a {
    color: #212121;
}

.sh_navi li:before {
    color: #212121;
    padding-right: 10px;
}

.sh_navi li:nth-child(1):before {
    content: "\f015";
}

.sh_navi li:nth-child(2):before {
    content: "\f290";
}

.sh_navi li:nth-child(3):before {
    content: "\f017";
}

.sh_navi li:nth-child(4):before {
    content: "\f085";
    padding-right: 10px;
}

.sh_navi li:nth-child(5):before {
    content: "\f1c5";
}

.sh_navi li li:nth-child(1):before,
.sh_navi li li:nth-child(2):before {
    content: "";
}

.sh_navi li.active {
    padding-left: 25px;
}

.sh_navi li:hover,
.sh_navi li:focus {
    cursor: pointer;
    background: #F5F5F5;
}

.sh_navi li li,
.sh_navi li li:hover {
    border: 0px;
    font-size: 14px;
    padding: 5px 0px 5px 20px;
}

.sh_navi li li:before {
    content: "" !important;
}

.sh_navi li li:nth-child(1) {
    margin-top: 15px;
}

.sh_navi li li:hover,
.sh_navi li li:focus {
    background-color: var(--primary-color);
}


/* .sh_order_tab .sh_sub_list_order_tab {
    margin-top: 15px;
}
.sh_order_tab .sh_sub_list_order_tab li{
    padding: 10px;
    font-size: 14px;
    border: none;
    font-weight: 700;
}
.sh_order_tab .sh_sub_list_order_tab li:hover {
    color: #08f !important;
    border-left: 5px solid #08f;
} */


/****header admin*****/

#sh_content_right {
    margin-left: 16.44444%;
}

.sh_header_admin {
    background: white;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.sh_search_bar_admin .sh_search_bar {
    background: #F5F5F5;
    border: none;
    height: 45px;
    border-radius: 4px;
    padding: 10px 25px;
    width: 100%;
}

.sh_search_bar_admin .sh_search_bar:focus,
.sh_search_bar_admin .sh_search_bar:visited {
    outline: none;
}

ul.sh_ul {
    width: 100%;
}

.sh_action_user_admin li.sh_btn_add_new_product,
.sh_toggle_menu_left,
.sh_action_user_admin .dropdown,
ul.sh_ul,
.sh_ul .sh_link_home {
    display: inline-table;
    padding-bottom: 0px;
    margin-bottom: 0px;
    float: right;
    margin-left: 15px;
}

.sh_ul .sh_link_home {
    float: left;
}

.sh_action_user_admin .navbar-toggle {
    border: none;
}

.sh_action_user_admin .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.sh_action_user_admin .navbar-default .navbar-toggle .icon-bar {
    background-color: #0e1a35;
}

.sh_btn_add_new_product p {
    background: #08f;
    padding: 5px 8px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
}

.sh_btn_add_new_product p:before {
    content: "\f067";
    color: #fff;
    margin-right: 5px;
}

.sh_toggle_menu_left p {
    font-size: 20px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.sh_toggle_menu_left p:before {
    content: "\f0c9";
}

.sh_action_user_admin li .dropdown-toggle:before {
    content: "\f2bd";
    font-size: 20px;
}

.sh_action_user_admin .dropdown-menu {
    position: absolute;
    top: 90%;
    left: auto;
    right: -59px !important;
    z-index: 1000;
    float: left;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, .17);
    padding: 0px !important;
}

.sh_action_user_admin .dropdown-menu li {
    padding: 10px 0px 10px 15px;
}

.sh_logout {
    background: #08f;
    border-radius: 20px;
    color: white !important;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 3px 10px;
}

.sh_logout:hover,
.sh_logout:focus {
    background-color: #0076de;
    box-shadow: 0 0px 8px rgba(0, 0, 0, .18);
}


/******main dashboard card view*****/

.sh_card {
    margin-top: 35px;
}

.sh_card_total h3 {
    margin: 0;
    color: #5e5a54;
    font-weight: 400;
}

.sh_card_total {
    text-align: left;
    background: #fff;
    height: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.06);
    color: #08f;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.sh_card .col-sm-3.col-xs-12 .sh_card_total p {
    color: #5e5a54;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.sh_card .col-sm-3.col-xs-12 .sh_card_total p:before {
    font-size: 45px;
    margin-right: 15px;
    color: #08f;
}

.sh_card .col-sm-3.col-xs-12:nth-child(1) .sh_card_total p:before {
    content: "\f1b2";
}

.sh_card .col-sm-3.col-xs-12:nth-child(2) .sh_card_total p:before {
    content: "\f07a";
}

.sh_card .col-sm-3.col-xs-12:nth-child(3) .sh_card_total p:before {
    content: "\f046";
}

.sh_card .col-sm-3.col-xs-12:nth-child(4) .sh_card_total p:before {
    content: "\f14a";
}

.sh_card_total li span {
    color: #08f;
    font-size: 14px;
    text-transform: capitalize;
}

.sh_card_total li span:after {
    content: "\f18e";
    margin-left: 4px;
}


/****list new order *****/

.sh_title_list_order {
    background: #E3F2FD;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
}

.sh_title_list_order p:before {
    content: "\f07a";
    margin-right: 15px;
}

.sh_list_order {
    border: 1px solid #eee;
    border-radius: 4px;
}

.sh_content_list_new_order {
    font-size: 16px;
}

table.sh_table_list_order {
    width: 100%;
    border-top: 1px solid #eee;
    /* display: table-header-group; */
}

.sh_table_list_order tr {
    border-bottom: 1px solid #eee;
    font-weight: 500;
}

.sh_border_table td,
.sh_table_list_order td {
    padding: 10px 10px;
}

.sh_table_list_order img {
    width: 50%;
}

.sh_border_table {
    background-color: aliceblue !important;
}


/*checkbox*/

.sh_btn_checkbox {
    display: none;
}

.sh_checkbox_label {
    cursor: pointer;
    border: 1px solid #b5b5b5;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: auto;
}

.sh_btn_checkbox:before,
.sh_checkbox_label:before {
    content: " ";
}

.sh_btn_checkbox:checked+.sh_checkbox_label:before {
    content: "\f00c";
    font-size: 20px;
    color: #08f;
    transition: all .3s;
    border-radius: 4px;
    border: 0px;
}


/*button action */

.sh_content_filter_tag {
    margin-bottom: 15px;
}

.sh_content_filter_tag p:hover {
    background: var(--primary-color);
    cursor: pointer;
}

.sh_content_filter_tag p {
    padding: 2px 5px;
    background: var(--second-color);
    display: inline-block;
    margin-left: 15px!important;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

.action_btn_cart {
    margin: 25px 0px;
}

.btn_checkout {
    margin: 20px 0px;
}

.sh_prd_btn_action {
    float: right;
    width: 100%;
    margin-top: 20px;
}

.sh_prd_btn_action .sh_action_submit,
.sh_prd_btn_action .sh_action_link {
    float: right;
    margin: 0px 0px 0px 15px;
    border-radius: 4px;
    border: border-style color: 1px solid rgba(0, 0, 0, 0.24);
}

.sh_prd_btn_action .sh_action_link p {
    margin: 0;
    text-align: center;
}

.sh_prd_btn_action .sh_action_link {
    background-color: #eee;
    padding: 5px 15px;
}


/*quan ly san pham*/

.sh_prd_option_search {
    display: flex;
    margin: 20px 0;
    width: 60%;
}

.sh_prd_option_category {
    flex: 1;
    margin-right: 15px;
}

.sh_prd_option_category select,
.sh_prd_search input {
    width: 100%;
    height: 35px;
    padding: 5px 15px;
    border: 1px solid #BDBDBD;
}

.sh_prd_search {
    flex: 3;
}

.sh_prd_search #sh_box_filter_search_prd {
    height: 35px;
    padding: 5px 15px;
    border: 1px solid #BDBDBD;
    border-radius: 4px 0px 0px 4px;
    border-right: 0px;
}

.sh_prd_search #sh_box_filter_search_prd:hover,
.sh_prd_search #sh_box_filter_search_prd:focus {
    outline: none;
}

.sh_prd_search input {
    border-radius: 0px 4px 4px 0px;
    border-left: 0px;
}

.sh_prd_search #sh_box_filter_search_prd,
.sh_prd_search form {
    float: left;
}

.sh_prd_option_category select:focus,
.sh_prd_search input:focus {
    outline: none;
}


/*pagination*/

.sh_pagination {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    float: right;
    width: 100%;
}

.sh_pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sh_pagination ul li:hover,
.sh_pagination ul li:focus {
    cursor: pointer;
}

.sh_pagination li {
    display: inline;
}

.sh_pagination a {
    display: inline-block;
    padding: 5px 9px;
    color: #222;
    border-radius: 4px;
    margin-right: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.06);
}

.p12 a:first-of-type,
.p12 a:last-of-type,
.p12 .is-active {
    /*  background-color: #2ecc71;*/
    background-color: #08f;
    color: #fff;
    font-weight: 400;
}


/*quan ly san pham*/

.sh_title_manager_product {
    margin-top: 25px;
}

.sh_content_prd_detail {
    margin-top: 25px;
    margin-right: 0;
}

.sh_content_info_prd {
    width: 100%;
    margin-left: 5%;
}

.sh_content_prd_detail .sh_content_info_prd input {
    height: 35px;
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 1px;
    float: left;
    margin-top: 20px;
    width: 80%;
}

.sh_content_prd_detail .sh_content_info_prd textarea {
    height: 200px;
    width: 80%;
    padding: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 1px;
    float: left;
    margin-top: 20px;
}

.sh_content_prd_detail .sh_content_info_prd select {
    height: 40px;
    padding-left: 15px;
    border: 1px solid #E0E0E0;
    border-radius: 1px;
    float: left;
    margin-top: 20px;
    width: 80%;
}

.sh_content_prd_detail .sh_content_info_prd input:focus,
.sh_content_prd_detail .sh_content_info_prd select:focus,
.sh_content_prd_detail .sh_content_info_prd textarea:focus {
    outline: none;
}

.sh_content_prd_detail .sh_content_info_prd label {
    float: left;
    margin-top: 20px;
    width: 100%;
    display: block;
}

.sh_show_img_detail_prd {
    float: left;
    width: 100%;
    margin-top: 25px;
    margin-left: 5%;
}

.sh_show_img_detail_prd .input_file_container {
    width: 30%;
    float: left;
    margin: 10px;
}


/*****upload file******/

.sh_img_preview {
    width: 250px;
    height: 250px;
    position: relative;
    margin: auto;
}

.sh_img_preview .sh_prd_d1,
.sh_img_preview .sh_prd_d2,
.sh_img_preview .sh_prd_d3 {
    /*     position: relative; */
    width: 100%;
    height: 100%;
    /*     top: 0;
    left: 0; */
    border: 1px solid #eee;
}

.sh_img_preview .input_file {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    border: none;
    opacity: 0;
}

.sh_img_preview:before {
    content: "\f0ee";
    font-size: 50px;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: rgba(34, 34, 34, 0.58);
}

.sh_img_preview .input_file:hover {
    cursor: pointer;
}

.sh_show_img_detail_prd .input_file_container input#prd_id_1,
.sh_show_img_detail_prd .input_file_container input#prd_id_2,
.sh_show_img_detail_prd .input_file_container input#prd_id_3 {
    width: 50% !important;
    border: none;
    margin: 25px 25% 25px 25%;
    padding: 5px 15px;
    color: white;
    background: #08f;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

#sh_add_new_btn_upload_img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 5px 15px;
    background: #08f;
    color: white;
    border-radius: 2px;
    float: right;
    margin-top: 15px;
}

#sh_add_new_btn_upload_img:hover,
#sh_add_new_btn_upload_img:focus {
    background: #0774d4;
    cursor: pointer;
}

.sh_add_img_upload {
    margin-top: 25px;
    padding-right: 0;
}

.sh_input_file_upload {
    width: 90%;
    float: left;
    margin-top: 15px;
}

.sh_input_file_upload input {
    float: left;
    margin-right: 25px;
    padding: 1px;
    background: rgba(0, 136, 255, 0.27);
    border: 0px;
    border-radius: 2px;
    cursor: pointer;
    width: 28%;
}


/***checkout***/

.checkout_page {
    margin: 25px 0;
}

.checkout_page .col-sm-4:nth-child(3) {
    padding-right: 0;
}

.checkout_title_checkout h4 {
    margin: 0 0 20px 0 !important;
}

.content_shipping_deals input {
    height: 40px;
    padding-left: 15px;
    margin: 8px 0;
    color: #35495d;
    border: 1px solid #b3b8bb;
    width: 100%;
}

.content_shipping_deals textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #b3b8bb;
    padding: 15px 15px;
    margin: 8px 0;
}

.content_shipping_deals input:hover,
.content_shipping_deals input:focus,
.content_shipping_deals textarea:hover,
.content_shipping_deals textarea:focus {
    outline: none;
}

.content_payment_checkout {
    margin-top: 15px;
}

.content_payment_checkout input[type='radio'] {
    display: none;
}

.content_payment_checkout input[type='radio']:checked+i {
    background: var(--primary-color);
}

.content_payment_checkout input[type='radio']:checked:hover+i,
.content_payment_checkout label:hover {
    cursor: pointer;
}

.content_payment_checkout label {
    display: block;
    margin-bottom: 1.5em;
}

.content_payment_checkout label i {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid var(--primary-color);
    transition: .25s;
}

.content_payment_checkout label span {
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 2px dotted #fff;
    text-transform: inherit;
    font-size: .9em;
}

.content_product_checkout {
    opacity: 0.7;
}

.content_product_checkout tr td img,
.content_product_checkout td {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.content_product_checkout table tr {
    font-size: 12px;
    font-weight: 700;
}

.content_product_checkout td {
    height: 80px;
    border-bottom: 1px solid #E0E0E0;
}

.checkout_title_checkout h3 {
    margin-bottom: 15px !important;
}

.checkout_title_checkout .action_link {
    margin-top: 15px;
    width: 100%;
    text-align: right;
}

.checkout_title_checkout .action_link span {
    padding: 5px 10px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 1, 0.08);
    border-radius: 4px;
    background: #eee;
    text-align: right;
}

.checkout_title_checkout,
.checkout_order_sammuray {
    padding: 15px 15px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 1, 0.08);
    margin-bottom: 30px;
}

.checkout_order_sammuray p {
    margin: 15px 0;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0px !important;
    text-transform: uppercase;
}

.checkout_order_sammuray p span {
    float: right;
}

.checkout_order_sammuray button {
    width: 100%;
    border-radius: 4px;
    margin-top: 15px;
}

.content_bank_info ul {
    list-style-type: none;
}

.content_bank_info ul li,
.sh_content_total_order p,
.sh_content_total_order span,
.sh_content_product_order tr td {
    font-weight: 500;
}

.content_bank_info {
    display: none;
}


/****order****/

.sh_content_info_order {
    list-style-type: none;
    font-size: 15px;
}

.sh_content_info_order li p {
    padding: 15px 15px!important;
}

.sh_content_info_order span:nth-child(1) {
    font-weight: 700;
    margin-right: 15px;
}

.sh_content_product_order tr {
    padding: 15px 0;
}

.sh_content_total_order {
    margin-top: 25px;
}

.sh_content_product_order {
    display: block;
    padding: 10px;
}

.sh_content_total_order p,
.sh_content_total_order span {
    font-size: 18px;
    margin-bottom: 5px!important;
}

.sh_content_total_order span {
    font-size: 22px;
}

.sh_settings_btn_action {
    width: 100%;
    float: right;
    margin: 10px 10px;
}

.sh_settings_btn_action .sh_action_link,
.sh_settings_btn_action .sh_action_submit {
    float: right;
    color: white;
    background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 5px 15px;
    margin-left: 10px;
}

.sh_settings_btn_action #sh_alert_action {
    padding: 5px 25px;
    float: left;
    font-weight: 500;
    font-size: 18px;
    display: none;
}

.sh_settings_btn_action .sh_action_link {
    background-color: #ff3b30;
}

.sh_content_manager_brand tr {
    border-bottom: 1px solid #eee;
}

.sh_content_manager_brand tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.sh_content_manager_brand tr:nth-child(event) {
    background-color: #fff;
}

.sh_content_manager_brand td {
    padding: 15px 0;
}

.sh_add_new_brand {
    display: none;
    margin: 15px;
}

.sh_add_new_brand input {
    border: 1px solid #eee;
    padding: 5px 10px;
    width: 100%;
    display: block;
    margin: 10px 0;
    height: 40px;
}

.sh_add_new_brand button {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px !important;
}


/***search page *****/

.title_search_page {
    background-color: #f4f4f4;
}

.key_search_page {
    margin: 50px auto 25px auto;
    display: block;
}

.key_search_page p {
    font-size: 28px;
    color: #222;
    font-weight: 400;
    text-transform: uppercase;
}

.key_search_page strong {
    color: var(--primary-color);
}


/****help***/

.help_page .col-xs-12 h3 {
    margin: 30px 0 10px 0!important;
    display: block;
}

.help_page {
    line-height: 1.5;
    margin-bottom: 25px;
}

.help_page ul.not_safe li {
    margin-left: 25px;
}

.help_page ul li ul {
    margin-left: 25px;
}


/***login***/

.sh_login {
    position: relative;
    height: 80vh;
    margin-top: 10vh;
}

.sh_content_form_login {
    background: #f2f2f2;
    padding: 25px;
    border-radius: 4px;
}

.sh_content_passcode_login {
    height: auto;
    padding: 5PX;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
}

.sh_content_passcode_login:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient(left, #23966c, #faaa54, #e23b4a, #db0768, #360670);
    background: linear-gradient(to right, #23966c, #faaa54, #e23b4a, #db0768, #360670);
    pointer-events: none;
    mix-blend-mode: screen;
}

.sh_form_login input {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    padding: 15px;
    box-shadow: none;
    border: 0;
    border-radius: 4px;
}

.sh_title_login {
    position: relative;
    margin-top: 10px!important;
    margin-bottom: 50px!important;
    display: block;
}

.sh_title_login:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: auto;
    background: var(--primary-color);
    height: 2px;
    width: 30%;
}


/*****responsive***/

@media (min-width: 768px) {
    .sh_toggle_menu_left_desktop {
        display: none;
    }
}

@media (max-width: 768px) {
    /***res menu ****/
    .content_contact_us {
        display: none;
    }
    .mobile_content_main_menu {
        display: block;
        background-color: #fff;
        box-shadow: 0 2px 12px 0px rgba(0, 0, 0, .10);
        width: 100%;
        height: 60px;
        position: fixed;
        z-index: 99;
        top: 0;
    }
    .content_main_menu {
        margin-top: 55px;
    }
    .content_top_main_menu {
        display: block;
        width: 60%;
        height: 100%;
        position: fixed;
        top: 0;
        background-color: #fff!important;
    }
    .menu_collapse {
        display: block;
    }
    .top_main_menu {
        margin-top: 70px;
        display: block;
    }
    .top_main_menu ul {
        z-index: 999;
    }
    .top_main_menu ul ul {
        display: none!important;
    }
    .name-shop {
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        margin-top: 15px;
    }
    .top_main_menu li {
        float: left;
        width: 100%;
    }
    .content_top_search {
        margin: 15px auto 0px auto !important;
        height: 50px;
        display: block;
    }
    .icon-cart-bag {
        position: fixed;
        top: 0;
        margin-top: 9px;
        right: 0;
        z-index: 99;
    }
    .alert-au-menu {
        display: none;
    }
    .sh_header_admin {
        background: white;
        box-shadow: 0 2px 12px 0px rgba(0, 0, 0, .10);
        display: block;
        margin-left: -15px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .sh_search_bar_admin {
        margin: 10px 0px;
    }
    .sh_btn_add_new_product a {
        display: none;
    }
    .sh_btn_admin {
        width: 100%;
    }
    #sh_navigation {
        width: 60%;
    }
    #sh_content_right {
        width: 100%;
        margin-left: 0!important;
    }
    .table-responsive {
        overflow: hidden;
    }
    .sh_border_table td,
    .sh_table_list_order td {
        padding: 10px 5px;
    }
    .show_td_table {
        display: none;
    }
    .sh_action_user_admin li.sh_btn_add_new_product,
    .sh_toggle_menu_left,
    .sh_action_user_admin .dropdown,
    ul.sh_ul,
    .sh_ul .sh_link_home {
        display: inline-table;
        padding-bottom: 0px;
        margin-top: 8px;
        margin-bottom: 5px;
    }
    .sh_ul .sh_link_home {
        font-size: 18px;
    }
    .sh_action_user_admin .dropdown {
        margin-right: 15px;
    }
    .sh_action_user_admin li.sh_btn_add_new_product,
    .sh_toggle_menu_left,
    .sh_action_user_admin .dropdown {
        float: right;
    }
    .sh_content_prd_detail .sh_content_info_prd input {
        height: 35px;
        padding: 20px;
        border: 1px solid #E0E0E0;
        border-radius: 1px;
        float: left;
        margin-top: 20px;
        width: 80%;
    }
    .sh_content_prd_detail .sh_content_info_prd select {
        height: 40px;
        padding-left: 15px;
        border: 1px solid #E0E0E0;
        border-radius: 1px;
        float: left;
        margin-top: 20px;
        width: 80%;
    }
    .sh_input_file_upload input {
        float: left;
        margin-right: 25px;
        padding: 1px;
        background: rgba(0, 136, 255, 0.27);
        border: 0px;
        border-radius: 2px;
        cursor: pointer;
        width: 80%;
        margin-bottom: 15px;
    }
    #sh_add_new_btn_upload_img {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 5px 15px;
        background: #08f;
        color: white;
        border-radius: 2px;
        float: right;
        margin-top: 15px;
        margin-right: 30px;
    }
    .sh_show_img_detail_prd {
        float: left;
        width: 100%;
        margin-top: 25px;
    }
    .sh_show_img_detail_prd .input_file_container {
        width: 100%;
        float: left;
        margin: 0px !important;
    }
    /*quan ly san pham*/
    .sh_prd_option_search {
        display: flex;
        margin: 20px 0;
        width: 100%;
    }
    .sh_prd_option_category {
        flex: 1;
        margin-right: 15px;
    }
    .sh_prd_option_category select,
    .sh_prd_search input {
        width: 100%;
        height: 35px;
        padding: 5px 15px;
        border: 1px solid #BDBDBD;
    }
    .sh_prd_search {
        flex: 2;
    }
    .sh_prd_option_category select:focus,
    .sh_prd_search input:focus {
        outline: none;
    }
    /****detail product****/
    .sh_table_list_order img {
        width: 100%;
    }
    /***detail order****/
    .sh_content_info_order ul li span {
        float: left;
        font-size: 15px !important;
        display: block !important;
        width: 100%;
    }
    .sh_content_info_order li p {
        padding: 30px 15px!important;
    }
    .slider_banner_ads {
        height: 500px;
        background-position: 100;
        background-size: 115%;
    }
    /***notyfy ***/
    .notify_content ul li {
        width: 100%;
        margin: 8px 0px!important;
    }
    /***owl***/
    .content_trendding_now .owl-item {
        background-color: #fff;
    }
    /**sex watches***/
    .sex-watches {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 0px!important;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

.pulse {
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #08f;
    width: 80px;
    height: 80px;
    z-index: 99999;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.animate-swing {
    transform-origin: top center;
    animation-name: animate-swing;
}

@keyframes animate-shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
}

.animate-shake {
    animation-name: animate-shake;
}

.analog_modal_content {
    z-index: 1000;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.analog_modal {
    position: fixed;
    z-index: 1020;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border: 1px solid rgba(34, 34, 34, 0.18);
    width: 50%;
    height: 80%;
    margin: auto;
    box-shadow: 0 0 29px rgba(145, 145, 145, 0.15);
    transition: all .3s;
    display: none;
    overflow: hidden;
}

.analog_modal .modal_img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    user-select: none;
    -moz-user-focus: none;
    -webkit-user-drag: none;
}

.analog_modal .disable_btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1051;
}

.analog_modal span {
    display: inline-block;
    padding: 2px 8px;
    background: #eee;
    margin: 15px;
    border-radius: 5px;
}

.analog_modal span:hover,
.analog_modal span:focus {
    background-color: #08f;
    color: #fff;
    cursor: pointer;
}


/* 
body:before {
    background-color: #8F8F8F;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    content: "";
} */